<h1>Shopping Cart</h1>
<ng-container *ngIf="carts$ | async as cart">
    <p>
        You have {{ cart.totalItemCount  }} items in your shopping carts.
        <button 
    (click)="clearCart()" class="btn btn-light sm">Clear Shopping Cart</button>
    </p>
    
    <table class="table">
        <thead>
            <tr>    
                <th></th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productId of cart.productId">
                <td>
                    <div [style.backgroundImage]="'url('+cart.items[productId].product.imageUrl+')'" class="thumbnail"></div>
                </td>
                <td>{{ cart.items[productId].product.title}}</td>
                <td>{{cart.items[productId].quantity}}</td>
                <td>
                    {{cart.items[productId].product.price * cart.items[productId].quantity | currency:'INR':true}}
                </td>
                
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>{{cart.totalItemCount}}</th>
                <th>{{cart.totalePrice | currency:'INR':true}}</th>
            </tr>
        </tfoot>
    </table>
    <a 
        routerLink="/checkout"
        class="btn btn-primary">Check Out</a>
    
</ng-container>

