
<h2>Shipping</h2>
<div class="row">
    <div class="col-6">
        <form #f="ngForm" (ngSubmit)="placeOrder(f.value)">

            <div class="form-group">
                <label for="">Name</label>
                <input #name="ngModel" name="name" ngModel type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                <div *ngIf="name.errors.required">Name is required.</div>
                </div>
            </div>
        
            <div class="form-group">
                <label for="">Address</label>
                <input #addressLine1="ngModel" ngModel name="addressLine1"  type="text" class="form-control" placeholder="Line 1" required>
                <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
                <div *ngIf="addressLine1.errors.required">Address Line 1 is required.</div>
                </div>
            </div>
        
            <div class="form-group">
                <label for=""></label>
                <input #addressLine2="ngModel" ngModel name="addressLine2" id="addressLine2" type="text" class="form-control" placeholder="Line 2" required>
                <div class="alert alert-danger" *ngIf="addressLine2.touched && addressLine2.invalid">
                <div *ngIf="addressLine2.errors.required">Address Line 2 is required.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="">Contact No.</label>
                <input #contactNo="ngModel" ngModel name="contactNo" type="number" class="form-control" minlength="10" required >
                <div class="alert alert-danger" *ngIf="contactNo.touched && contactNo.invalid">
                <div *ngIf="contactNo.errors.required ">Number is required.</div>
                <div *ngIf="contactNo.errors.minlength ">Maximum Value is 10.</div>
                </div>
             </div>
        
            <div class="form-group">
                <label for="">City</label>
                <input #city="ngModel" ngModel name="city" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
                <div *ngIf="city.errors.required">City is required.</div>
                </div>
             </div>
        
          <button [disabled]="!f.valid"
            class="btn btn-primary">Place Order</button>
        
        </form>
    </div>
    <div class="col-6">
      <shopping-cart-summary [cart]="cart"></shopping-cart-summary>
    </div>
</div>
  